<body>
  <div class="header-container">
    <div class="header-left">
      <app-logo></app-logo>
    </div>
    <div class="header-right">
      <img src="assets/Heart.png" alt="Messages" class="header-icon">
      <img src="assets/Vector.png" alt="Likes" class="header-icon">
    </div>
  </div>

  <div class="instagram-stories">
    <img src="assets/fot1.jpg" alt="Your Story" class="story-pic">
    <img src="assets/fot2.jpg" alt="Paris Storni" class="story-pic">
    <img src="assets/fot3.jpg" alt="V.P. Flakko" class="story-pic">
    <img src="assets/fot4.jpg" alt="Mayerli" class="story-pic">
  </div>


  <div class="instagram-post">
    <div class="header">
      <img src="assets/p.adele.jpg" alt="Profile Picture" class="profile-pic">
      <div class="username">adele <span class="verified">&#10004;</span></div>
    </div>
    <img src="assets/post.jpg" alt="Post Image" class="post-image rounded">
    <div class="actions">
      <div class="likes">Les gusta a <span class="user">juandam___</span> y <span class="likes-count">757,139 más</span></div>
      <div class="caption"><span class="username">adele</span> Munich Night 2</div>
      <div class="comments">Ver los 4,957 comentarios</div>
      <div class="time">Hace 2 horas</div>
    </div>
  </div>

  <div class="instagram-post">
    <div class="header">
      <img src="assets/logo.sud.jpg" alt="Profile Picture" class="profile-pic">
      <div class="username">itsSudamericano <span class="verified">&#10004;</span></div>
    </div>
    <img src="assets/post.sud.jpg" alt="Post Image" class="post-image rounded">
    <div class="actions">
      <div class="likes">Les gusta a <span class="user">juandam___</span> y <span class="likes-count">500,000 más</span></div>
      <div class="caption"><span class="username">adele</span> Live in London</div>
      <div class="comments">Ver los 3,000 comentarios</div>
      <div class="time">Hace 6 horas</div>
    </div>
  </div>

  <div class="instagram-post">
    <div class="header">
      <img src="assets/per3.webp" alt="Profile Picture" class="profile-pic">
      <div class="username">memes <span class="verified">&#10004;</span></div>
    </div>
    <img src="assets/post3.webp" alt="Post Image" class="post-image rounded">
    <div class="actions">
      <div class="likes">Les gusta a <span class="user">juandam___</span> y <span class="likes-count">600,000 más</span></div>
      <div class="caption"><span class="username">adele</span> Grammy Awards</div>
      <div class="comments">Ver los 5,000 comentarios</div>
      <div class="time">Hace 1 día</div>
    </div>
  </div>

  <div class="instagram-footer">
    <img src="assets/home.png" alt="Home" class="footer-icon">
    <img src="assets/Search.png" alt="Search" class="footer-icon">
    <img src="assets/PlusCircle.png" alt="Add" class="footer-icon">
    <img src="assets/reels.png" alt="Likes" class="footer-icon">
    <img src="assets/perfil.png" alt="Profile" class="footer-icon">
  </div>
</body>
